# Consultas com Python

In [1]:
#link contendo o caminho da base para download.
#https://www.kaggle.com/datasets/marcosfnlr/acidentes-em-rodovias-federais-20072020

In [19]:
import pandas as pd

In [31]:
cd c:\Bases\

c:\Bases

### Comando ls para listar o arquivo desejado.

In [32]:
ls *.csv

 O volume na unidade C nÆo tem nome.
 O N£mero de S‚rie do Volume ‚ 462A-6591

 Pasta de c:\Bases

15/12/2021  11:46       385.522.663 acidentes2007-2020.csv
               1 arquivo(s)    385.522.663 bytes
               0 pasta(s)    1.601.392.640 bytes dispon¡veis

Neste estudo teremos as principais ações realizadas ao fazer uma análise exploratória.
### Primeiro importamos o dataframe

In [34]:
#Realizando importação do Dataframe utilizando o Pandas
df = pd.read_csv('acidentes2007-2020.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (6,7,26,27,28,29,30) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [37]:
#Visualizando colunas do Dataframe
df.columns

Index(['Unnamed: 0', 'id', 'id_unico', 'dia_semana', 'horario', 'uf', 'br',
       'km', 'municipio', 'causa_acidente', 'tipo_acidente',
       'classificacao_acidente', 'fase_dia', 'sentido_via',
       'condicao_metereologica', 'tipo_pista', 'tracado_via', 'uso_solo',
       'pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos',
       'ignorados', 'feridos', 'veiculos', 'latitude', 'longitude', 'regional',
       'delegacia', 'uop'],
      dtype='object')

### Temos a opção de realizar a importação dos dados somente de colunas específicas
### Isso facilita a utilização de recursos evitando o uso desnecessário de processamento / memória.

In [38]:
#separando colunas para realizar importação
colunas = [ 'id_unico', 'dia_semana', 'horario', 'uf',
       'km', 'municipio',  'pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos',
       'ignorados', 'feridos', 'veiculos' ]

In [39]:
base = pd.read_csv('acidentes2007-2020.csv', usecols=colunas) #<--Utilizando o parâmetro usecols e apontamos a lista criada

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [40]:
base.columns

Index(['id_unico', 'dia_semana', 'horario', 'uf', 'km', 'municipio', 'pessoas',
       'mortos', 'feridos_leves', 'feridos_graves', 'ilesos', 'ignorados',
       'feridos', 'veiculos'],
      dtype='object')

In [41]:
#Aqui teremos a primeira visão dos dados...somente as 5 primeiras linhas
df.head(5)

,Unnamed: 0,id,id_unico,dia_semana,horario,uf,br,km,municipio,causa_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,0,10,102007-06-11,segunda,15:30:00,MG,381,623.2,OLIVEIRA,falta de atenção,...,0,5,0,4,6,NaN,NaN,NaN,NaN,NaN
1,1,1032898,10328982007-08-13,segunda,14:25:00,MG,40,585.5,ITABIRITO,outras,...,1,2,0,1,1,NaN,NaN,NaN,NaN,NaN
2,2,1051130,10511302007-02-12,segunda,02:10:00,MA,135,11,SAO LUIS,animais na pista,...,1,0,0,3,1,NaN,NaN,NaN,NaN,NaN
3,3,1066824,10668242007-11-20,terça,05:30:00,CE,222,30.8,CAUCAIA,defeito mecânico no veículo,...,0,0,0,1,1,NaN,NaN,NaN,NaN,NaN
4,4,1069918,10699182007-12-16,domingo,17:40:00,MA,230,14,BARAO DE GRAJAU,outras,...,1,0,0,1,1,NaN,NaN,NaN,NaN,NaN

In [42]:
df.shape

(1851865, 31)

In [43]:
#provê as informações principais referente o Dataframe como tipo da coluna, nomes, index, numero de linhas.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1851865 entries, 0 to 1851864
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   id                      int64
 2   id_unico                object
 3   dia_semana              object
 4   horario                 object
 5   uf                      object
 6   br                      object
 7   km                      object
 8   municipio               object
 9   causa_acidente          object
 10  tipo_acidente           object
 11  classificacao_acidente  object
 12  fase_dia                object
 13  sentido_via             object
 14  condicao_metereologica  object
 15  tipo_pista              object
 16  tracado_via             object
 17  uso_solo                object
 18  pessoas                 int64
 19  mortos                  int64
 20  feridos_leves           int64
 21  feridos_graves          int64
 22  ilesos                  int64
 23  ignorados               int64
 24  feridos                 int64
 25  veiculos                int64
 26  latitude                object
 27  longitude               object
 28  regional                object
 29  delegacia               object
 30  uop                     object
dtypes: int64(10), object(21)
memory usage: 438.0+ MB

In [44]:
#Comando describe nos dá as principais estatísticas como Min, Max, Média, Count, volumes para cada quartil.
df.describe()

,Unnamed: 0,id,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos
count,1.851865e+06,1.851865e+06,1.851865e+06,1.851865e+06,1.851865e+06,1.851865e+06,1.851865e+06,1.851865e+06,1.851865e+06,1.851865e+06
mean,9.259320e+05,2.166799e+07,2.185478e+00,5.346934e-02,5.066681e-01,1.774152e-01,1.354492e+00,9.338154e-02,6.840833e-01,1.727139e+00
std,5.345875e+05,3.599787e+07,1.612883e+00,2.880661e-01,1.004373e+00,5.689165e-01,1.266686e+00,3.884024e-01,1.205551e+00,7.268428e-01
min,0.000000e+00,8.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,4.629660e+05,3.740450e+05,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
50%,9.259320e+05,8.590310e+05,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00
75%,1.388898e+06,8.304788e+07,2.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00
max,1.851864e+06,8.352989e+07,2.480000e+02,3.300000e+01,5.800000e+01,2.220000e+02,9.900000e+01,8.600000e+01,2.390000e+02,2.500000e+01

In [45]:
df.columns

Index(['Unnamed: 0', 'id', 'id_unico', 'dia_semana', 'horario', 'uf', 'br',
       'km', 'municipio', 'causa_acidente', 'tipo_acidente',
       'classificacao_acidente', 'fase_dia', 'sentido_via',
       'condicao_metereologica', 'tipo_pista', 'tracado_via', 'uso_solo',
       'pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos',
       'ignorados', 'feridos', 'veiculos', 'latitude', 'longitude', 'regional',
       'delegacia', 'uop'],
      dtype='object')

### Consultas

In [46]:
#consultando UMA coluna da base incluímos o nome da coluna entre colchetes dentro de aspas simples ou duplas.
df['tipo_pista']

0            Dupla
1          Simples
2          Simples
3            Dupla
4          Simples
            ...
1851860      Dupla
1851861      Dupla
1851862    Simples
1851863    Simples
1851864    Simples
Name: tipo_pista, Length: 1851865, dtype: object

In [47]:
#Consultando duas ou mais colunas, utilizamos dois colchetes para esta ação.
df[['tipo_pista', 'causa_acidente', 'tipo_acidente']]

,tipo_pista,causa_acidente,tipo_acidente
0,Dupla,falta de atenção,Colisão Frontal
1,Simples,outras,Saída de Pista
2,Simples,animais na pista,Atropelamento de Animal
3,Dupla,defeito mecânico no veículo,Capotamento
4,Simples,outras,Capotamento
...,...,...,...
1851860,Dupla,falta de atenção à condução,Colisão Lateral
1851861,Dupla,desobediência ã s normas de trânsito pelo cond...,Colisão Frontal
1851862,Simples,desobediência ã s normas de trânsito pelo cond...,Colisão Lateral
1851863,Simples,falta de atenção à condução,Colisão Transversal
1851864,Simples,falta de atenção à condução,Colisão Lateral

In [56]:
#O comando ".unique()" projeta a visão unica dos dados contidos na coluna mencionada.
df['tipo_pista'].unique()

array(['Dupla', 'Simples', 'Múltipla', nan], dtype=object)

In [57]:
df[df.feridos > 0].groupby('uf').sum()

,Unnamed: 0,id,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos
uf,,,,,,,,,,
(null),2528077,4544022,26,3,9,8,5,1,17,14
AC,3492838144,75384338998,8430,155,3738,1400,2822,315,5138,5369
AL,9636624904,200447763878,26878,773,10309,6583,7642,1571,16892,16962
AM,1227337731,23290786561,4198,134,1802,616,1392,254,2418,1767
AP,1955913438,43437445324,5284,126,2235,906,1783,234,3141,2841
BA,46712653819,1042071797759,123314,4420,55543,19355,38855,5139,74898,72382
CE,20254203337,432691108944,47517,1089,18559,10625,14660,2583,29184,32156
DF,11101970205,211250015069,26639,306,12264,2966,10191,912,15230,17603
ES,36651939863,775111774834,83556,1487,34212,17256,27003,3595,51468,60345
GO,42494738298,880861618525,105730,2822,46370,19456,33737,3343,65826,65758
MA,14194737939,295448875687,37521,1677,14377,8522,10877,2067,22899,24201
MG,125418083367,2718953693020,307818,7381,152078,50826,90003,7525,202904,191735
MS,19818418195,428914221559,48372,1263,21381,8365,16066,1297,29746,28187
MT,24520497281,511594203229,54684,1547,24733,8925,18193,1286,33658,34598
PA,14967491388,326350067113,39393,1003,16257,6738,13210,2185,22995,27318
PB,19999351480,430577924883,46537,1016,20693,8590,13379,2855,29283,32092
PE,32830316991,697302538578,79761,2303,33619,14990,24355,4490,48609,53783
PI,14941507428,302122464758,33713,1008,13378,7761,9762,1804,21139,23635
PR,98319775786,2077983231348,221215,3738,99868,32292,77729,7587,132160,150441
RJ,57208174659,1229128917176,135505,2636,65526,17701,45154,4487,83227,88516
RN,17983167041,378389163908,40565,899,17028,7761,12600,2275,24789,29660
RO,19480724082,377370311846,47975,702,21750,6957,16660,1905,28707,32608
RR,2736922458,57129829868,7266,222,3345,993,2237,469,4338,4182
RS,55299966969,1134287875723,136327,2690,65043,18332,46886,3375,83375,88001
SC,100864566961,2027078058507,228274,3347,110369,31396,76889,6267,141765,168153
SE,7177498649,147170468600,17633,468,7907,2863,5327,1068,10770,11421
SP,52008971907,1038352749089,120270,1393,58516,12739,42304,5317,71255,84903
TO,7036354883,154918850186,17893,675,7372,3627,5655,564,10999,10388

In [52]:
#Where com um parâmetro
df[df["uf"] == 'TO']

,Unnamed: 0,id,id_unico,dia_semana,horario,uf,br,km,municipio,causa_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
86,86,173890,1738902007-01-01,segunda,12:30:00,TO,153,636,ALIANCA DO TOCANTINS,falta de atenção,...,0,2,0,0,2,NaN,NaN,NaN,NaN,NaN
540,540,174593,1745932007-01-02,terça,20:08:00,TO,226,47.7,DARCINOPOLIS,falta de atenção,...,0,2,0,0,2,NaN,NaN,NaN,NaN,NaN
621,621,174748,1747482007-01-03,quarta,10:30:00,TO,226,1,PALMEIRAS DO TOCANTINS,outras,...,0,2,0,0,2,NaN,NaN,NaN,NaN,NaN
821,821,175051,1750512007-01-03,quarta,08:30:00,TO,230,31,NAZARE,animais na pista,...,0,1,0,1,2,NaN,NaN,NaN,NaN,NaN
1043,1043,175383,1753832007-01-04,quinta,14:40:00,TO,153,670.3,GURUPI,outras,...,0,2,0,0,2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851169,1851169,331542,3315422020-12-31,quinta,07:45:00,TO,153,139.7,ARAGUAINA,falta de atenção à condução,...,2,1,1,4,3,"-7,16325275","-48,20698926",SR-TO,UOP01,DEL02
1851415,1851415,334064,3340642020-12-25,sexta,03:40:00,TO,226,23.9,PALMEIRAS DO TOCANTINS,ingestão de álcool,...,0,0,1,0,1,"-6,63551","-47,640892",SR-TO,UOP03,DEL02
1851658,1851658,342258,3422582020-07-25,sábado,10:50:00,TO,242,288.8,PEIXE,falta de atenção à condução,...,0,3,0,1,1,"-12,20696232","-48,49224127",SR-TO,UOP02,DEL01
1851725,1851725,345115,3451152020-11-05,quinta,16:00:00,TO,153,326.7,GUARAI,pista escorregadia,...,0,0,0,1,1,"-8,76995017","-48,51067456",SR-TO,UOP02,DEL02
1851729,1851729,345202,3452022020-12-16,quarta,12:50:00,TO,153,609.7,CRIXAS DO TOCANTINS,falta de atenção à condução,...,3,0,0,4,2,"-11,17595301","-48,92781585",SR-TO,UOP02,DEL01

In [55]:
#Utilizando Where na consulta com dois parametros
df.query('causa_acidente == "ultrapassagem indevida" & dia_semana == "sábado"')

,Unnamed: 0,id,id_unico,dia_semana,horario,uf,br,km,municipio,causa_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
1587,1587,176105,1761052007-01-06,sábado,10:20:00,BA,116,951,VITORIA DA CONQUISTA,ultrapassagem indevida,...,0,2,0,0,2,NaN,NaN,NaN,NaN,NaN
1616,1616,176145,1761452007-01-06,sábado,12:05:00,PA,222,14.4,DOM ELISEU,ultrapassagem indevida,...,0,2,0,1,3,NaN,NaN,NaN,NaN,NaN
1705,1705,176253,1762532007-01-06,sábado,15:00:00,MG,40,741.6,SANTOS DUMONT,ultrapassagem indevida,...,2,1,0,2,2,NaN,NaN,NaN,NaN,NaN
1765,1765,176323,1763232007-01-06,sábado,22:00:00,MG,50,119,UBERABA,ultrapassagem indevida,...,0,2,0,0,2,NaN,NaN,NaN,NaN,NaN
1783,1783,176345,1763452007-01-06,sábado,08:00:00,MG,381,712.1,CARMO DA CACHOEIRA,ultrapassagem indevida,...,2,1,0,4,2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851498,1851498,335760,3357602020-10-24,sábado,15:10:00,MG,116,384.8,MATHIAS LOBATO,ultrapassagem indevida,...,1,0,0,2,1,"-18,65434309","-41,97036284",SR-MG,UOP01,DEL06
1851526,1851526,336590,3365902020-11-07,sábado,23:45:00,BA,116,538.4,MILAGRES,ultrapassagem indevida,...,0,0,0,2,2,"-12,856088","-39,848019",SR-BA,UOP02,DEL03
1851568,1851568,337916,3379162020-12-12,sábado,14:45:00,MT,364,56,ALTO GARCAS,ultrapassagem indevida,...,1,6,0,1,7,"-16,95268297","-53,52608392",SR-MT,UOP04,DEL02
1851587,1851587,338844,3388442020-11-14,sábado,11:30:00,PI,343,338,TERESINA,ultrapassagem indevida,...,0,1,0,1,2,"-5,063362","-42,722912",SR-PI,UOP01,DEL01
1851704,1851704,344190,3441902020-12-19,sábado,00:05:00,SC,116,145,SANTA CECILIA,ultrapassagem indevida,...,0,1,0,1,2,"-26,9952408","-50,40782997",SR-SC,UOP02,DEL06

In [50]:
#Where
df.filter(items=['uf','municipio','causa_acidente'])\
                        .where(df.uf == 'MG')\
                        .groupby(['uf'])
                        .sort_values(by='uf', ascending=False)

IndentationError: unexpected indent (<ipython-input-50-018a23091ef9>, line 5)

In [58]:
#Projeção onde feridos_leves seja > 5
#Neste caso a coluna deve ser numérica.

df[df['feridos_leves'] < 5 ]

,Unnamed: 0,id,id_unico,dia_semana,horario,uf,br,km,municipio,causa_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,0,10,102007-06-11,segunda,15:30:00,MG,381,623.2,OLIVEIRA,falta de atenção,...,0,5,0,4,6,NaN,NaN,NaN,NaN,NaN
1,1,1032898,10328982007-08-13,segunda,14:25:00,MG,40,585.5,ITABIRITO,outras,...,1,2,0,1,1,NaN,NaN,NaN,NaN,NaN
2,2,1051130,10511302007-02-12,segunda,02:10:00,MA,135,11,SAO LUIS,animais na pista,...,1,0,0,3,1,NaN,NaN,NaN,NaN,NaN
3,3,1066824,10668242007-11-20,terça,05:30:00,CE,222,30.8,CAUCAIA,defeito mecânico no veículo,...,0,0,0,1,1,NaN,NaN,NaN,NaN,NaN
4,4,1069918,10699182007-12-16,domingo,17:40:00,MA,230,14,BARAO DE GRAJAU,outras,...,1,0,0,1,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851860,1851860,352276,3522762020-11-27,sexta,20:30:00,ES,101,287,CARIACICA,falta de atenção à condução,...,1,1,0,1,2,"-20,26493528","-40,38471702",SR-ES,UOP01,DEL01
1851861,1851861,352308,3523082020-12-18,sexta,03:20:00,RO,364,1071,PORTO VELHO,desobediência ã s normas de trânsito pelo cond...,...,0,0,0,1,2,"-9,75228555","-66,61517143",SR-RO,UOP04,DEL01
1851862,1851862,352311,3523112020-08-15,sábado,18:30:00,RS,116,156.6,CAXIAS DO SUL,desobediência ã s normas de trânsito pelo cond...,...,0,1,2,1,2,"-29,20731013","-51,17757864",SR-RS,UOP01,DEL05
1851863,1851863,352395,3523952020-12-30,quarta,11:00:00,PI,343,20,PARNAIBA,falta de atenção à condução,...,0,1,0,1,2,"-2,981128","-41,762501",SR-PI,UOP01,DEL05
1851864,1851864,352488,3524882020-12-31,quinta,08:00:00,MA,135,95,ITAPECURU MIRIM,falta de atenção à condução,...,0,0,1,1,2,"-3,3279719","-44,44236412",SR-MA,UOP02,DEL01

In [ ]:
#Podemos também incluir outros operadores como ("=", "!=", ">", "<").
#Projeção onde dia da semana seja diferente de segunda
df[df['dia_semana'] != 'segunda']

,Unnamed: 0,id,id_unico,dia_semana,horario,uf,br,km,municipio,causa_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
3,3,1066824,10668242007-11-20,terça,05:30:00,CE,222,30.8,CAUCAIA,defeito mecânico no veículo,...,0,0,0,1,1,NaN,NaN,NaN,NaN,NaN
4,4,1069918,10699182007-12-16,domingo,17:40:00,MA,230,14.0,BARAO DE GRAJAU,outras,...,1,0,0,1,1,NaN,NaN,NaN,NaN,NaN
6,6,1137914,11379142007-08-12,domingo,22:30:00,ES,101,2.4,SERRA,outras,...,1,1,0,1,1,NaN,NaN,NaN,NaN,NaN
7,7,1179288,11792882007-02-04,domingo,20:30:00,MG,251,326.2,SALINAS,outras,...,0,1,0,2,1,NaN,NaN,NaN,NaN,NaN
8,8,1254853,12548532007-11-22,quinta,21:10:00,MG,40,44.1,PARACATU,outras,...,0,0,0,3,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851860,1851860,352276,3522762020-11-27,sexta,20:30:00,ES,101.0,287.0,CARIACICA,falta de atenção à condução,...,1,1,0,1,2,"-20,26493528","-40,38471702",SR-ES,UOP01,DEL01
1851861,1851861,352308,3523082020-12-18,sexta,03:20:00,RO,364.0,1071.0,PORTO VELHO,desobediência ã s normas de trânsito pelo cond...,...,0,0,0,1,2,"-9,75228555","-66,61517143",SR-RO,UOP04,DEL01
1851862,1851862,352311,3523112020-08-15,sábado,18:30:00,RS,116.0,156.6,CAXIAS DO SUL,desobediência ã s normas de trânsito pelo cond...,...,0,1,2,1,2,"-29,20731013","-51,17757864",SR-RS,UOP01,DEL05
1851863,1851863,352395,3523952020-12-30,quarta,11:00:00,PI,343.0,20.0,PARNAIBA,falta de atenção à condução,...,0,1,0,1,2,"-2,981128","-41,762501",SR-PI,UOP01,DEL05
1851864,1851864,352488,3524882020-12-31,quinta,08:00:00,MA,135.0,95.0,ITAPECURU MIRIM,falta de atenção à condução,...,0,0,1,1,2,"-3,3279719","-44,44236412",SR-MA,UOP02,DEL01

In [37]:
#Projeção onde dia da semana seja diferente de segunda
df[df['dia_semana'] != 'domingo']

,Unnamed: 0,id,id_unico,dia_semana,horario,uf,br,km,municipio,causa_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,0,10,102007-06-11,segunda,15:30:00,MG,381,623.2,OLIVEIRA,falta de atenção,...,0,5,0,4,6,NaN,NaN,NaN,NaN,NaN
1,1,1032898,10328982007-08-13,segunda,14:25:00,MG,40,585.5,ITABIRITO,outras,...,1,2,0,1,1,NaN,NaN,NaN,NaN,NaN
2,2,1051130,10511302007-02-12,segunda,02:10:00,MA,135,11,SAO LUIS,animais na pista,...,1,0,0,3,1,NaN,NaN,NaN,NaN,NaN
3,3,1066824,10668242007-11-20,terça,05:30:00,CE,222,30.8,CAUCAIA,defeito mecânico no veículo,...,0,0,0,1,1,NaN,NaN,NaN,NaN,NaN
5,5,1070971,10709712007-03-05,segunda,08:10:00,PR,277,584.4,CASCAVEL,outras,...,0,2,0,0,2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851860,1851860,352276,3522762020-11-27,sexta,20:30:00,ES,101,287,CARIACICA,falta de atenção à condução,...,1,1,0,1,2,"-20,26493528","-40,38471702",SR-ES,UOP01,DEL01
1851861,1851861,352308,3523082020-12-18,sexta,03:20:00,RO,364,1071,PORTO VELHO,desobediência ã s normas de trânsito pelo cond...,...,0,0,0,1,2,"-9,75228555","-66,61517143",SR-RO,UOP04,DEL01
1851862,1851862,352311,3523112020-08-15,sábado,18:30:00,RS,116,156.6,CAXIAS DO SUL,desobediência ã s normas de trânsito pelo cond...,...,0,1,2,1,2,"-29,20731013","-51,17757864",SR-RS,UOP01,DEL05
1851863,1851863,352395,3523952020-12-30,quarta,11:00:00,PI,343,20,PARNAIBA,falta de atenção à condução,...,0,1,0,1,2,"-2,981128","-41,762501",SR-PI,UOP01,DEL05
1851864,1851864,352488,3524882020-12-31,quinta,08:00:00,MA,135,95,ITAPECURU MIRIM,falta de atenção à condução,...,0,0,1,1,2,"-3,3279719","-44,44236412",SR-MA,UOP02,DEL01

In [39]:
#pordemos trazer todo o conteúdo da coluna.
df['dia_semana']

0          segunda
1          segunda
2          segunda
3            terça
4          domingo
            ...
1851860      sexta
1851861      sexta
1851862     sábado
1851863     quarta
1851864     quinta
Name: dia_semana, Length: 1851865, dtype: object

In [40]:
#Projeção de colunas expecíficas
df[['dia_semana','mortos','pessoas','causa_acidente', 'classificacao_acidente']]

,dia_semana,mortos,pessoas,causa_acidente,classificacao_acidente
0,segunda,0,9,falta de atenção,NaN
1,segunda,0,3,outras,Com Vítimas Feridas
2,segunda,2,5,animais na pista,Com Vítimas Fatais
3,terça,0,1,defeito mecânico no veículo,Com Vítimas Feridas
4,domingo,0,1,outras,Com Vítimas Feridas
...,...,...,...,...,...
1851860,sexta,0,2,falta de atenção à condução,Com Vítimas Feridas
1851861,sexta,1,2,desobediência ã s normas de trânsito pelo cond...,Com Vítimas Fatais
1851862,sábado,0,4,desobediência ã s normas de trânsito pelo cond...,Com Vítimas Feridas
1851863,quarta,0,2,falta de atenção à condução,Com Vítimas Feridas
1851864,quinta,0,2,falta de atenção à condução,Com Vítimas Feridas

In [41]:
#Exibindo somente colunas que conténham variáveis do tipo numérico
#Alguns algorítmos de Machine Learning são preparados para responder a números.
#Esse comando pode te salvar em algumas situações.
df.select_dtypes(exclude='object')

,Unnamed: 0,id,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos
0,0,10,9,0,4,0,5,0,4,6
1,1,1032898,3,0,0,1,2,0,1,1
2,2,1051130,5,2,2,1,0,0,3,1
3,3,1066824,1,0,1,0,0,0,1,1
4,4,1069918,1,0,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...
1851860,1851860,352276,2,0,0,1,1,0,1,2
1851861,1851861,352308,2,1,1,0,0,0,1,2
1851862,1851862,352311,4,0,1,0,1,2,1,2
1851863,1851863,352395,2,0,1,0,1,0,1,2
1851864,1851864,352488,2,0,1,0,0,1,1,2

In [42]:
#Exibindo somente colunas do tipo texto / string
df.select_dtypes(include='object')

,id_unico,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,classificacao_acidente,...,sentido_via,condicao_metereologica,tipo_pista,tracado_via,uso_solo,latitude,longitude,regional,delegacia,uop
0,102007-06-11,segunda,15:30:00,MG,381,623.2,OLIVEIRA,falta de atenção,Colisão Frontal,NaN,...,Decrescente,Céu Claro,Dupla,Reta,Rural,NaN,NaN,NaN,NaN,NaN
1,10328982007-08-13,segunda,14:25:00,MG,40,585.5,ITABIRITO,outras,Saída de Pista,Com Vítimas Feridas,...,Crescente,Céu Claro,Simples,Reta,Rural,NaN,NaN,NaN,NaN,NaN
2,10511302007-02-12,segunda,02:10:00,MA,135,11,SAO LUIS,animais na pista,Atropelamento de Animal,Com Vítimas Fatais,...,Crescente,Céu Claro,Simples,Reta,Urbano,NaN,NaN,NaN,NaN,NaN
3,10668242007-11-20,terça,05:30:00,CE,222,30.8,CAUCAIA,defeito mecânico no veículo,Capotamento,Com Vítimas Feridas,...,Decrescente,Céu Claro,Dupla,Reta,Rural,NaN,NaN,NaN,NaN,NaN
4,10699182007-12-16,domingo,17:40:00,MA,230,14,BARAO DE GRAJAU,outras,Capotamento,Com Vítimas Feridas,...,Crescente,Chuva,Simples,Curva,Rural,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851860,3522762020-11-27,sexta,20:30:00,ES,101,287,CARIACICA,falta de atenção à condução,Colisão Lateral,Com Vítimas Feridas,...,Decrescente,Céu Claro,Dupla,Reta,Não,"-20,26493528","-40,38471702",SR-ES,UOP01,DEL01
1851861,3523082020-12-18,sexta,03:20:00,RO,364,1071,PORTO VELHO,desobediência ã s normas de trânsito pelo cond...,Colisão Frontal,Com Vítimas Fatais,...,Crescente,Nublado,Dupla,Reta,Sim,"-9,75228555","-66,61517143",SR-RO,UOP04,DEL01
1851862,3523112020-08-15,sábado,18:30:00,RS,116,156.6,CAXIAS DO SUL,desobediência ã s normas de trânsito pelo cond...,Colisão Lateral,Com Vítimas Feridas,...,Decrescente,Céu Claro,Simples,Curva,Não,"-29,20731013","-51,17757864",SR-RS,UOP01,DEL05
1851863,3523952020-12-30,quarta,11:00:00,PI,343,20,PARNAIBA,falta de atenção à condução,Colisão Transversal,Com Vítimas Feridas,...,Crescente,Céu Claro,Simples,Reta,Não,"-2,981128","-41,762501",SR-PI,UOP01,DEL05
1851864,3524882020-12-31,quinta,08:00:00,MA,135,95,ITAPECURU MIRIM,falta de atenção à condução,Colisão Lateral,Com Vítimas Feridas,...,Decrescente,Céu Claro,Simples,Interseção de vias,Não,"-3,3279719","-44,44236412",SR-MA,UOP02,DEL01

### Tratamento de valores nulos
### Ao realizar análises dependendo do case deletar uma linha inteira pode significar uma perda considerável na análise, por este motivo realizarmos o tratamento de Nulos através de diversas técnicas. Tudo irá depender do negócio, não existe uma solução, para isso depende de outros fatores do dado.

In [43]:
#Projeção de colunas e falores nulos
df.isna().sum()

Unnamed: 0                      0
id                              0
id_unico                        0
dia_semana                      0
horario                         0
uf                              0
br                            513
km                            513
municipio                       0
causa_acidente                  0
tipo_acidente                  12
classificacao_acidente         24
fase_dia                        1
sentido_via                     0
condicao_metereologica          3
tipo_pista                     10
tracado_via                     0
uso_solo                        0
pessoas                         0
mortos                          0
feridos_leves                   0
feridos_graves                  0
ilesos                          0
ignorados                       0
feridos                         0
veiculos                        0
latitude                  1562165
longitude                 1562165
regional                  1562165
delegacia                 1562165
uop                       1567370
dtype: int64

### Uma das técnicas utilizadas é a substituição do valor nulo pela média ou moda.

In [51]:
df['km']

0          623.2
1          585.5
2             11
3           30.8
4             14
           ...
1851860      287
1851861     1071
1851862    156.6
1851863       20
1851864       95
Name: km, Length: 1851865, dtype: object

In [54]:
#substituir pela moda ou média.
#Tratando dados Nulos e substituindo pela moda 
df['km'].fillna((df['km'].mode()), inplace=True)

In [57]:
df['km'].isnull

<bound method Series.isnull of 0          623.2
1          585.5
2             11
3           30.8
4             14
           ...
1851860      287
1851861     1071
1851862    156.6
1851863       20
1851864       95
Name: km, Length: 1851865, dtype: object>

In [58]:
# A Visualização pode ser feita por rótulos estabelecendo um range inicio e fim.
# [inicio/fim linha, rótulos]
df.loc[0:5,['veiculos','feridos_graves']]

   veiculos  feridos_graves
0         6               0
1         1               1
2         1               1
3         1               0
4         1               1
5         2               0

In [64]:
df.iloc[-4:,-3:]

        regional delegacia    uop
1851861    SR-RO     UOP04  DEL01
1851862    SR-RS     UOP01  DEL05
1851863    SR-PI     UOP01  DEL05
1851864    SR-MA     UOP02  DEL01

### Por vezes precisamos manipular os dados incluindo ou removendo colunas
### Adicionando coluna

In [65]:
df.head()

,Unnamed: 0,id,id_unico,dia_semana,horario,uf,br,km,municipio,causa_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,0,10,102007-06-11,segunda,15:30:00,MG,381,623.2,OLIVEIRA,falta de atenção,...,0,5,0,4,6,NaN,NaN,NaN,NaN,NaN
1,1,1032898,10328982007-08-13,segunda,14:25:00,MG,40,585.5,ITABIRITO,outras,...,1,2,0,1,1,NaN,NaN,NaN,NaN,NaN
2,2,1051130,10511302007-02-12,segunda,02:10:00,MA,135,11,SAO LUIS,animais na pista,...,1,0,0,3,1,NaN,NaN,NaN,NaN,NaN
3,3,1066824,10668242007-11-20,terça,05:30:00,CE,222,30.8,CAUCAIA,defeito mecânico no veículo,...,0,0,0,1,1,NaN,NaN,NaN,NaN,NaN
4,4,1069918,10699182007-12-16,domingo,17:40:00,MA,230,14,BARAO DE GRAJAU,outras,...,1,0,0,1,1,NaN,NaN,NaN,NaN,NaN

In [66]:
df.columns

Index(['Unnamed: 0', 'id', 'id_unico', 'dia_semana', 'horario', 'uf', 'br',
       'km', 'municipio', 'causa_acidente', 'tipo_acidente',
       'classificacao_acidente', 'fase_dia', 'sentido_via',
       'condicao_metereologica', 'tipo_pista', 'tracado_via', 'uso_solo',
       'pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos',
       'ignorados', 'feridos', 'veiculos', 'latitude', 'longitude', 'regional',
       'delegacia', 'uop'],
      dtype='object')

In [67]:
# Criar uma coluna Nova

df['total_feridos'] = pd.Series() #<<----add coluna

<ipython-input-67-1b3edb9c4f2f>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['total_feridos'] = pd.Series() #<<----add coluna

In [68]:
df['total_feridos']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
1851860   NaN
1851861   NaN
1851862   NaN
1851863   NaN
1851864   NaN
Name: total_feridos, Length: 1851865, dtype: float64

### dando um valor para a coluna criada.

In [69]:
df['total_feridos'] = df['feridos_leves'] + df['feridos_graves'] + df['feridos']# <<--- inputando valor na coluna

In [70]:
df[['total_feridos','feridos_leves','feridos_graves','feridos']]

         total_feridos  feridos_leves  feridos_graves  feridos
0                    8              4               0        4
1                    2              0               1        1
2                    6              2               1        3
3                    2              1               0        1
4                    2              0               1        1
...                ...            ...             ...      ...
1851860              2              0               1        1
1851861              2              1               0        1
1851862              2              1               0        1
1851863              2              1               0        1
1851864              2              1               0        1

[1851865 rows x 4 columns]

In [71]:
#Renomeando coluna
df = df.rename(columns={'total_feridos': 'soma_feridos'})

In [72]:
df['soma_feridos']

0          8
1          2
2          6
3          2
4          2
          ..
1851860    2
1851861    2
1851862    2
1851863    2
1851864    2
Name: soma_feridos, Length: 1851865, dtype: int64

In [73]:
#Removendo coluna
df = df.drop(['soma_feridos'], axis=1)

In [74]:
df.columns

Index(['Unnamed: 0', 'id', 'id_unico', 'dia_semana', 'horario', 'uf', 'br',
       'km', 'municipio', 'causa_acidente', 'tipo_acidente',
       'classificacao_acidente', 'fase_dia', 'sentido_via',
       'condicao_metereologica', 'tipo_pista', 'tracado_via', 'uso_solo',
       'pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos',
       'ignorados', 'feridos', 'veiculos', 'latitude', 'longitude', 'regional',
       'delegacia', 'uop'],
      dtype='object')

### Realizar o merge entre bases é necessário para compor nossa análise. Para este exemplo vamos criar dois dataframes utilizando em comum o campo 'id_unico' para realizar o match entre as base.

### Merge entre duas bases

In [75]:
df.columns

Index(['Unnamed: 0', 'id', 'id_unico', 'dia_semana', 'horario', 'uf', 'br',
       'km', 'municipio', 'causa_acidente', 'tipo_acidente',
       'classificacao_acidente', 'fase_dia', 'sentido_via',
       'condicao_metereologica', 'tipo_pista', 'tracado_via', 'uso_solo',
       'pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos',
       'ignorados', 'feridos', 'veiculos', 'latitude', 'longitude', 'regional',
       'delegacia', 'uop'],
      dtype='object')

In [76]:
df2 = df[['id_unico', 'dia_semana', 'horario', 'km', 'uf']]

In [ ]:
df3 = df[['id_unico', 'causa_acidente', 'tipo_acidente']]

In [ ]:
##Merge
df4 = pd.merge(df2,df3, on = 'id_unico', how = 'left')

In [ ]:
df4

,id_unico,dia_semana,horario,km,uf,causa_acidente,tipo_acidente
0,102007-06-11,segunda,15:30:00,623.2,MG,falta de atenção,Colisão Frontal
1,10328982007-08-13,segunda,14:25:00,585.5,MG,outras,Saída de Pista
2,10511302007-02-12,segunda,02:10:00,11.0,MA,animais na pista,Atropelamento de Animal
3,10668242007-11-20,terça,05:30:00,30.8,CE,defeito mecânico no veículo,Capotamento
4,10699182007-12-16,domingo,17:40:00,14.0,MA,outras,Capotamento
...,...,...,...,...,...,...,...
1851860,3522762020-11-27,sexta,20:30:00,287.0,ES,falta de atenção à condução,Colisão Lateral
1851861,3523082020-12-18,sexta,03:20:00,1071.0,RO,desobediência ã s normas de trânsito pelo cond...,Colisão Frontal
1851862,3523112020-08-15,sábado,18:30:00,156.6,RS,desobediência ã s normas de trânsito pelo cond...,Colisão Lateral
1851863,3523952020-12-30,quarta,11:00:00,20.0,PI,falta de atenção à condução,Colisão Transversal
1851864,3524882020-12-31,quinta,08:00:00,95.0,MA,falta de atenção à condução,Colisão Lateral

In [ ]:
df4.to_excel('base4.xlsx')